In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore

In [2]:
merged_df = pd.read_csv("merged_file.csv")

In [3]:
merged_df.isna().sum()

Unnamed: 0               0
Name                     0
Contact Information    272
Rating                  27
Number of Ratings       27
Longitude                0
Latitude                 0
Types                    0
neighborhood             0
dtype: int64

In [4]:
merged_df = merged_df.drop(columns= "Contact Information")

In [5]:
merged_df.isna().sum()

Unnamed: 0            0
Name                  0
Rating               27
Number of Ratings    27
Longitude             0
Latitude              0
Types                 0
neighborhood          0
dtype: int64

In [6]:
merged_df = merged_df.drop_duplicates()

In [7]:
merged_df = merged_df.dropna()

In [8]:
merged_df.isna().sum()

Unnamed: 0           0
Name                 0
Rating               0
Number of Ratings    0
Longitude            0
Latitude             0
Types                0
neighborhood         0
dtype: int64

In [9]:
merged_df = merged_df.drop(columns='Unnamed: 0')

In [10]:
# Assuming 'merged_df' is your DataFrame
restaurant_df = merged_df[merged_df['Types'].str.contains('restaurant')]
# Displaying the filtered restaurant data

restaurant_df

,Name,Rating,Number of Ratings,Longitude,Latitude,Types,neighborhood
0,فندق ميرا,3.7,1336.0,46.693985,24.701278,"['lodging', 'restaurant', 'food', 'point_of_in...",حي الملز
1,مركز ماي كار لصيانة السيارات الاوروبية,3.5,2755.0,46.576437,24.851751,"['restaurant', 'food', 'point_of_interest', 'e...",حي الملز
2,Luthan Hotel and Spa,4.0,423.0,46.641709,24.706649,"['spa', 'lodging', 'restaurant', 'food', 'poin...",حي الملز
3,Dining Hall,3.0,27.0,46.619655,24.720989,"['restaurant', 'point_of_interest', 'food', 'e...",حي الملز
4,Sushi Yoshi,4.0,1721.0,46.706125,24.704821,"['restaurant', 'point_of_interest', 'food', 'e...",حي الملز
...,...,...,...,...,...,...,...
1795,Al Romansiah,4.2,9460.0,46.792399,24.695811,"['restaurant', 'point_of_interest', 'food', 'e...",حي الحمراء
1796,Herfy,3.8,1081.0,46.797511,24.780961,"['restaurant', 'point_of_interest', 'food', 'e...",حي الحمراء
1797,KFC,3.5,1825.0,46.764410,24.732753,"['restaurant', 'food', 'point_of_interest', 'e...",حي الحمراء
1798,Burger King - Rawdah,3.7,1370.0,46.762265,24.735643,"['restaurant', 'food', 'point_of_interest', 'e...",حي الحمراء
1799,KFC,3.8,2246.0,46.664761,24.704578,"['restaurant', 'food', 'point_of_interest', 'e...",حي الحمراء

In [11]:

# merged_df[merged_df['Rating'] == 5.0]

In [12]:
import ast

# Convert the string representation of the list to an actual list
merged_df['Types'] = merged_df['Types'].apply(lambda x: ast.literal_eval(x))

# Create a set to store all unique types
unique_types = set()

# Iterate over each row and update the set of unique types
for types_list in merged_df['Types']:
    unique_types.update(types_list)

# Iterate over each unique type and create a new binary column for it
for type_name in unique_types:
    merged_df[type_name] = merged_df['Types'].apply(lambda x: 1 if type_name in x else 0)

# Drop the original 'Types' column since it's no longer needed
merged_df.drop('Types', axis=1, inplace=True)

merged_df['Weighted Rating'] = merged_df['Rating'] * merged_df['Number of Ratings']
# Display the DataFrame with one-hot encoded types
merged_df

,Name,Rating,Number of Ratings,Longitude,Latitude,neighborhood,point_of_interest,parking,gas_station,meal_takeaway,...,lodging,supermarket,spa,bar,casino,cafe,car_wash,health,food,Weighted Rating
0,فندق ميرا,3.7,1336.0,46.693985,24.701278,حي الملز,1,0,0,0,...,1,0,0,0,0,0,0,0,1,4943.2
1,مركز ماي كار لصيانة السيارات الاوروبية,3.5,2755.0,46.576437,24.851751,حي الملز,1,0,0,0,...,0,0,0,0,0,0,0,0,1,9642.5
2,Luthan Hotel and Spa,4.0,423.0,46.641709,24.706649,حي الملز,1,0,0,0,...,1,0,1,0,0,0,0,0,1,1692.0
3,Dining Hall,3.0,27.0,46.619655,24.720989,حي الملز,1,0,0,0,...,0,0,0,0,0,0,0,0,1,81.0
4,Sushi Yoshi,4.0,1721.0,46.706125,24.704821,حي الملز,1,0,0,0,...,0,0,0,0,0,0,0,0,1,6884.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,Al Romansiah,4.2,9460.0,46.792399,24.695811,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,39732.0
1796,Herfy,3.8,1081.0,46.797511,24.780961,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,4107.8
1797,KFC,3.5,1825.0,46.764410,24.732753,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,6387.5
1798,Burger King - Rawdah,3.7,1370.0,46.762265,24.735643,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,5069.0
1799,KFC,3.8,2246.0,46.664761,24.704578,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,8534.8

In [13]:
merged_df

,Name,Rating,Number of Ratings,Longitude,Latitude,neighborhood,point_of_interest,parking,gas_station,meal_takeaway,...,lodging,supermarket,spa,bar,casino,cafe,car_wash,health,food,Weighted Rating
0,فندق ميرا,3.7,1336.0,46.693985,24.701278,حي الملز,1,0,0,0,...,1,0,0,0,0,0,0,0,1,4943.2
1,مركز ماي كار لصيانة السيارات الاوروبية,3.5,2755.0,46.576437,24.851751,حي الملز,1,0,0,0,...,0,0,0,0,0,0,0,0,1,9642.5
2,Luthan Hotel and Spa,4.0,423.0,46.641709,24.706649,حي الملز,1,0,0,0,...,1,0,1,0,0,0,0,0,1,1692.0
3,Dining Hall,3.0,27.0,46.619655,24.720989,حي الملز,1,0,0,0,...,0,0,0,0,0,0,0,0,1,81.0
4,Sushi Yoshi,4.0,1721.0,46.706125,24.704821,حي الملز,1,0,0,0,...,0,0,0,0,0,0,0,0,1,6884.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,Al Romansiah,4.2,9460.0,46.792399,24.695811,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,39732.0
1796,Herfy,3.8,1081.0,46.797511,24.780961,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,4107.8
1797,KFC,3.5,1825.0,46.764410,24.732753,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,6387.5
1798,Burger King - Rawdah,3.7,1370.0,46.762265,24.735643,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,5069.0
1799,KFC,3.8,2246.0,46.664761,24.704578,حي الحمراء,1,0,0,0,...,0,0,0,0,0,0,0,0,1,8534.8

In [14]:
merged_df.columns

Index(['Name', 'Rating', 'Number of Ratings', 'Longitude', 'Latitude',
       'neighborhood', 'point_of_interest', 'parking', 'gas_station',
       'meal_takeaway', 'grocery_or_supermarket', 'bakery', 'meal_delivery',
       'establishment', 'store', 'gym', 'night_club', 'restaurant', 'lodging',
       'supermarket', 'spa', 'bar', 'casino', 'cafe', 'car_wash', 'health',
       'food', 'Weighted Rating'],
      dtype='object')

In [15]:
food = merged_df[['Name','Rating', 'Number of Ratings','Longitude', 'Latitude', 'neighborhood','restaurant', 'meal_takeaway', 'meal_delivery', 'cafe', 'food', 'bakery','Weighted Rating']]

In [16]:
food = food.drop(food[food['neighborhood'] == 'حي الورود'].index)
food = food.drop(food[food['neighborhood'] == 'حي الربيع'].index)

In [17]:
food.head(30)

,Name,Rating,Number of Ratings,Longitude,Latitude,neighborhood,restaurant,meal_takeaway,meal_delivery,cafe,food,bakery,Weighted Rating
0,فندق ميرا,3.7,1336.0,46.693985,24.701278,حي الملز,1,0,0,0,1,0,4943.2
1,مركز ماي كار لصيانة السيارات الاوروبية,3.5,2755.0,46.576437,24.851751,حي الملز,1,0,0,0,1,0,9642.5
2,Luthan Hotel and Spa,4.0,423.0,46.641709,24.706649,حي الملز,1,0,0,0,1,0,1692.0
3,Dining Hall,3.0,27.0,46.619655,24.720989,حي الملز,1,0,0,0,1,0,81.0
4,Sushi Yoshi,4.0,1721.0,46.706125,24.704821,حي الملز,1,0,0,0,1,0,6884.0
5,Najd Village,3.9,11310.0,46.704695,24.742604,حي الملز,1,0,0,0,1,0,44109.0
6,Wooden Bakery,4.3,10550.0,46.722682,24.694119,حي الملز,1,0,0,0,1,1,45365.0
7,Najd Village,3.8,8468.0,46.669233,24.697688,حي الملز,1,0,0,0,1,0,32178.4
8,KFC,3.7,2198.0,46.737091,24.595064,حي الملز,1,0,0,0,1,0,8132.6
9,McDonald's,3.9,2735.0,46.691384,24.570255,حي الملز,1,0,0,0,1,0,10666.5
10,Domino's Pizza,3.8,589.0,46.604994,24.692347,حي الملز,1,1,1,0,1,0,2238.2
11,Mama Noura,4.3,23691.0,46.701885,24.691626,حي الملز,1,0,0,0,1,0,101871.3
12,Burger King - Al Quds,3.6,1707.0,46.740762,24.757339,حي الملز,1,0,0,0,1,0,6145.2
13,Derati Restaurant,3.7,1331.0,46.588542,24.636875,حي الملز,1,0,0,0,1,0,4924.7
14,Kudu - Al Rayyan,3.8,1803.0,46.788935,24.709257,حي الملز,1,1,1,0,1,0,6851.4
15,Dominos,3.8,639.0,46.624075,24.810596,حي الملز,1,1,1,0,1,0,2428.2
16,Derati Restaurants & Kitchens,3.8,994.0,46.669014,24.588178,حي الملز,1,0,0,0,1,0,3777.2
17,Hardee's,3.3,827.0,46.643634,24.600852,حي الملز,1,0,0,0,1,0,2729.1
18,KFC,3.5,975.0,46.644168,24.600407,حي الملز,1,0,0,0,1,0,3412.5
19,Kudu - Al Malaz,3.9,1944.0,46.724429,24.666388,حي الملز,1,1,1,0,1,0,7581.6
20,Mama Noura,4.1,11464.0,46.665361,24.571747,حي الملز,1,0,0,0,1,0,47002.4
21,قصر الهند,3.8,6168.0,46.752900,24.757444,حي الملز,1,0,0,0,1,0,23438.4
22,Herfy,3.8,1376.0,46.698336,24.694057,حي الملز,1,0,0,0,1,0,5228.8
23,Al Jalab Restaurant,4.3,1543.0,46.687001,24.733782,حي الملز,1,0,0,0,1,0,6634.9
24,Al Romansiah,4.1,8499.0,46.814124,24.758718,حي الملز,1,0,0,0,1,0,34845.9
25,Al Nafoura Restaurant,3.3,1007.0,46.625147,24.588405,حي الملز,1,0,0,0,1,0,3323.1
26,Diet Center - دايت سنتر,4.1,74.0,46.784153,24.681048,حي الملز,1,0,0,0,1,0,303.4
27,KFC,3.6,1452.0,46.792386,24.684026,حي الملز,1,0,0,0,1,0,5227.2
28,Herfy,3.7,380.0,46.657525,24.755956,حي الملز,1,0,0,0,1,0,1406.0
29,Kudu - Al Seteen Palace,3.9,2399.0,46.723174,24.690573,حي الملز,1,1,1,0,1,0,9356.1

In [18]:
food

,Name,Rating,Number of Ratings,Longitude,Latitude,neighborhood,restaurant,meal_takeaway,meal_delivery,cafe,food,bakery,Weighted Rating
0,فندق ميرا,3.7,1336.0,46.693985,24.701278,حي الملز,1,0,0,0,1,0,4943.2
1,مركز ماي كار لصيانة السيارات الاوروبية,3.5,2755.0,46.576437,24.851751,حي الملز,1,0,0,0,1,0,9642.5
2,Luthan Hotel and Spa,4.0,423.0,46.641709,24.706649,حي الملز,1,0,0,0,1,0,1692.0
3,Dining Hall,3.0,27.0,46.619655,24.720989,حي الملز,1,0,0,0,1,0,81.0
4,Sushi Yoshi,4.0,1721.0,46.706125,24.704821,حي الملز,1,0,0,0,1,0,6884.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1795,Al Romansiah,4.2,9460.0,46.792399,24.695811,حي الحمراء,1,0,0,0,1,0,39732.0
1796,Herfy,3.8,1081.0,46.797511,24.780961,حي الحمراء,1,0,0,0,1,0,4107.8
1797,KFC,3.5,1825.0,46.764410,24.732753,حي الحمراء,1,0,0,0,1,0,6387.5
1798,Burger King - Rawdah,3.7,1370.0,46.762265,24.735643,حي الحمراء,1,0,0,0,1,0,5069.0
1799,KFC,3.8,2246.0,46.664761,24.704578,حي الحمراء,1,0,0,0,1,0,8534.8

In [19]:
# food.to_csv('ML_Data.csv')