In [73]:
import pandas as pd

In [74]:
df = pd.read_csv('goodreads.csv')

In [75]:
df.head()

,Book_Title,Author,Genres,Rating
0,Little House in the Big Woods,Laura Ingalls Wilder,"['Classics', 'Historical Fiction', 'Childrens'...",4.20
1,Julius Caesar,William Shakespeare,"['Plays', 'Fiction', 'Drama', 'School', 'Class...",3.70
2,The Guernsey Literary and Potato Peel Pie Society,Mary Ann Shaffer,"['Historical Fiction', 'Fiction', 'Romance', '...",4.19
3,Harry Potter and the Order of the Phoenix,J.K. Rowling,"['Young Adult', 'Fiction', 'Magic', 'Childrens...",4.50
4,The Elements of Style,William Strunk Jr.,"['Writing', 'Nonfiction', 'Reference', 'Langua...",4.18

In [76]:
df.duplicated().sum()

56

In [77]:
df.drop_duplicates(inplace=True)

In [78]:
df = df[df['Genres'].str.len() != 2]

In [79]:
df['Genres'] = df['Genres'].str.replace('[','').str.replace(']','').str.replace("'",'').str.split(', ')

C:\Users\inter\AppData\Local\Temp\ipykernel_32340\646803041.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Genres'] = df['Genres'].str.replace('[','').str.replace(']','').str.replace("'",'').str.split(', ')

In [80]:
df3 = df.explode('Genres')
df3.head()

,Book_Title,Author,Genres,Rating
0,Little House in the Big Woods,Laura Ingalls Wilder,Classics,4.2
0,Little House in the Big Woods,Laura Ingalls Wilder,Historical Fiction,4.2
0,Little House in the Big Woods,Laura Ingalls Wilder,Childrens,4.2
0,Little House in the Big Woods,Laura Ingalls Wilder,Fiction,4.2
0,Little House in the Big Woods,Laura Ingalls Wilder,Young Adult,4.2

In [81]:
pd.set_option('display.max_rows', 500)
df3['Genres'].value_counts()

Fiction                       419
Classics                      212
Fantasy                       141
Nonfiction                    123
Literature                    117
Historical Fiction            117
Young Adult                   111
Novels                        111
Contemporary                   91
Romance                        81
Thriller                       80
Mystery                        79
Historical                     76
Audiobook                      75
Science Fiction                63
Adventure                      61
Philosophy                     50
History                        49
Drama                          44
Horror                         42
Childrens                      42
Self Help                      41
Psychology                     41
School                         40
Biography                      39
Adult                          38
Crime                          38
Middle Grade                   36
Literary Fiction               35
Suspense                       34
Mystery Thriller               34
Memoir                         32
War                            31
Science Fiction Fantasy        31
Humor                          30
Politics                       26
Dystopia                       25
Paranormal                     24
Religion                       22
American                       22
Poetry                         21
Personal Development           21
Business                       21
Realistic Fiction              21
Mythology                      20
Science                        19
Short Stories                  18
Spirituality                   17
Book Club                      16
France                         15
Plays                          15
World War II                   14
Magic                          14
Christian                      13
Magical Realism                13
Autobiography                  13
High Fantasy                   13
Gothic                         13
Adult Fiction                  12
Coming Of Age                  12
Military Fiction               12
Inspirational                  12
Chick Lit                      12
British Literature             12
Travel                         11
Biography Memoir               11
Animals                        11
Education                      11
19th Century                   10
Teen                           10
Mental Health                  10
Sociology                      10
New Adult                      10
Action                          9
German Literature               9
Space                           9
Urban Fantasy                   9
Love                            9
True Crime                      9
Vampires                        9
Contemporary Romance            8
Young Adult Romance             8
Feminism                        8
How To                          8
Christianity                    7
Greek Mythology                 7
Post Apocalyptic                7
Leadership                      7
Graphic Novels                  7
Comedy                          7
Theatre                         7
Epic Fantasy                    7
Russia                          6
20th Century                    6
Historical Romance              6
Speculative Fiction             6
Survival                        6
Love Story                      6
Essays                          6
Picture Books                   6
Comics                          6
Health                          6
Holocaust                       6
Space Opera                     6
Environment                     5
Economics                       5
American History                5
Detective                       5
Race                            5
LGBT                            5
China                           5
Reference                       5
Writing                         5
Retellings                      5
Germany                         5
Africa                          5
India                           5
Canada                          5
French Literature               5
Relationships                   5
Angels                          5
Womens                          4
Paranormal Romance              4
Young Adult Fantasy             4
Military History                4
Victorian                       4
Dragons                         4
Espionage                       4
Communication                   4
Read For School                 4
Queer                           4
African American                4
Productivity                    4
Spanish Literature              4
Dark                            4
Cyberpunk                       4
Theology                        4
Medieval                        3
Abuse                           3
Steampunk                       3
Psychological Thriller          3
High School                     3
Asia                            3
Asian Literature                3
Cults                           3
Social Justice                  3
Scotland                        3
Indian Literature               3
Banned Books                    3
Romantic                        3
Food                            3
Graphic Novels Comics           3
Time Travel                     3
Jewish                          3
Russian Literature              3
Japan                           3
Japanese Literature             3
New York                        2
Spain                           2
Spy Thriller                    2
Fairy Tales                     2
Gay                             2
Technology                      2
Christian Fiction               2
Nature                          2
Civil War                       2
Witches                         2
Physics                         2
Biology                         2
Management                      2
Language                        2
Westerns                        2
Latin American                  2
Aliens                          2
Marriage                        2
Supernatural                    2
Atheism                         2
Kids                            2
Evolution                       2
Southern Gothic                 2
Ireland                         2
True Story                      2
Irish Literature                2
Noir                            2
Legal Thriller                  2
Law                             2
Music                           2
Faith                           2
Books About Books               2
Journalism                      2
Arthurian                       2
Autistic Spectrum Disorder      2
Buddhism                        2
Medicine                        2
Social                          1
Erotica                         1
Murder Mystery                  1
Comic Strips                    1
Romantic Suspense               1
Nigeria                         1
Literary Criticism              1
Finance                         1
Neuroscience                    1
Medical                         1
Political Science               1
Design                          1
Israel                          1
Art                             1
Linguistics                     1
Death                           1
Christian Living                1
Amazon                          1
Italy                           1
Counselling                     1
American Revolution             1
Fantasy Romance                 1
Popular Science                 1
Epic                            1
Pirates                         1
Hugo Awards                     1
Dc Comics                       1
Comic Book                      1
Russian History                 1
Satanism                        1
Counter Culture                 1
Stuart                          1
17th Century                    1
Police                          1
Classic Literature              1
European Literature             1
Dogs                            1
Robots                          1
Nutrition                       1
Astrology                       1
Zombies                         1
Family                          1
Mental Illness                  1
Southern                        1
Halloween                       1
Buisness                        1
American Civil War              1
Batman                          1
Islam                           1
Occult                          1
Iran                            1
Prehistoric                     1
Australia                       1
Counting                        1
Entrepreneurship                1
Theory                          1
World War I                     1
Anthologies                     1
Historical Fantasy              1
Rwanda                          1
South Africa                    1
Anthropology                    1
Name: Genres, dtype: int64

In [82]:
selected_genres = df3['Genres'].value_counts().index[:20]
selected_genres

Index(['Fiction', 'Classics', 'Fantasy', 'Nonfiction', 'Literature',
       'Historical Fiction', 'Young Adult', 'Novels', 'Contemporary',
       'Romance', 'Thriller', 'Mystery', 'Historical', 'Audiobook',
       'Science Fiction', 'Adventure', 'Philosophy', 'History', 'Drama',
       'Horror'],
      dtype='object')

In [83]:
df4 = df3[df3['Genres'].isin(selected_genres)]
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2142 entries, 0 to 623
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Book_Title  2142 non-null   object
 1   Author      2142 non-null   object
 2   Genres      2142 non-null   object
 3   Rating      2142 non-null   float64
dtypes: float64(1), object(3)
memory usage: 83.7+ KB

In [84]:
df5 = df4.groupby('Book_Title').agg({
    'Genres': list,
    'Rating': 'mean'
}).reset_index()

In [85]:
df5.head(20)

,Book_Title,Genres,Rating
0,100 Love Sonnets,"[Classics, Romance, Fiction]",4.35
1,11/22/1963,"[Fiction, Historical Fiction, Science Fiction,...",4.34
2,11/22/63,"[Fiction, Historical Fiction, Science Fiction,...",4.34
3,1776,"[History, Nonfiction, Historical, Audiobook]",4.09
4,1984,"[Classics, Fiction, Science Fiction, Literatur...",4.19
5,2001: A Space Odyssey,"[Science Fiction, Fiction, Classics, Fantasy, ...",4.17
6,A Conceptual Circus,"[Contemporary, Fiction]",4.47
7,A Fine Balance,"[Fiction, Historical Fiction, Historical]",4.37
8,A Fire Upon the Deep,"[Science Fiction, Fiction, Fantasy]",4.14
9,A Game of Thrones,"[Fantasy, Fiction, Adventure]",4.44
10,A Heartbreaking Work of Staggering Genius,"[Fiction, Contemporary, Literature, Novels]",3.69
11,A Long Way Gone: Memoirs of a Boy Soldier,"[Nonfiction, History]",4.16
12,A Man with A White Shadow,"[Fiction, Philosophy]",4.69
13,A Moveable Feast,"[Nonfiction, Classics, Literature]",4.02
14,A Portrait of the Artist as a Young Man,"[Classics, Fiction, Literature, Novels]",3.64
15,A Scanner Darkly,"[Science Fiction, Fiction, Classics, Novels]",4.02
16,A Storm of Infinite Beauty,"[Fiction, Romance]",4.33
17,A Storm of Swords,"[Fantasy, Fiction, Audiobook]",4.54
18,A Story of Yesterday,"[Thriller, Mystery, Fiction, Drama]",4.59
19,A Team of One: An Unsanctioned Asset Thriller,"[Thriller, Mystery, Young Adult, Fiction]",4.58

In [86]:
def has_genre(genres, genre):
    if genre in genres:
        return 1
    else:
        return 0


for genre in selected_genres:
    df5[genre] = df5['Genres'].apply(lambda x: has_genre(x, genre))

In [87]:
pd.set_option('display.max_columns', 500)
df5.head()

,Book_Title,Genres,Rating,Fiction,Classics,Fantasy,Nonfiction,Literature,Historical Fiction,Young Adult,Novels,Contemporary,Romance,Thriller,Mystery,Historical,Audiobook,Science Fiction,Adventure,Philosophy,History,Drama,Horror
0,100 Love Sonnets,"[Classics, Romance, Fiction]",4.35,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,11/22/1963,"[Fiction, Historical Fiction, Science Fiction,...",4.34,1,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1
2,11/22/63,"[Fiction, Historical Fiction, Science Fiction,...",4.34,1,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1
3,1776,"[History, Nonfiction, Historical, Audiobook]",4.09,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0
4,1984,"[Classics, Fiction, Science Fiction, Literatur...",4.19,1,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0

In [ ]:
X = df5
distortions = []
for k in range(2,30):
    k_means = KMeans(n_clusters = k)
    k_means.fit(X)
    distortions.append(k_means.inertia_)

fig = plt.figure(figsize=(15,10))
plt.plot(range(2,30), distortions, 'bx-')
plt.title("Elbow Curve")